*.java.hsp
*.sonarj
*.sw*
.DS_Store
.settings
.springBeans
bin
build.sh
integration-repo
ivy-cache
jxl.log
jmx.log
derby.log
spring-test/test-output/
.gradle
argfile*
activemq-data/

classes/
/build
buildSrc/build
/spring-*/build
/src/asciidoc/build
target/

# Eclipse artifacts, including WTP generated manifests
.classpath
.project
spring-*/src/main/java/META-INF/MANIFEST.MF

# IDEA artifacts and output dirs
*.iml
*.ipr
*.iws
.idea
out
logs
test-output
atlassian-ide-plugin.xml
.gradletasknamecache

# Project exclude paths
/spring-framework-5.0.2.RELEASE-CHINESE_ANNOTATION/buildSrc/build/
/spring-framework-5.0.2.RELEASE-CHINESE_ANNOTATION/spring-aop/build/
/spring-framework-5.0.2.RELEASE-CHINESE_ANNOTATION/spring-beans/build/
/spring-framework-5.0.2.RELEASE-CHINESE_ANNOTATION/spring-context/build/
/spring-framework-5.0.2.RELEASE-CHINESE_ANNOTATION/spring-context-support/build/
/spring-framework-5.0.2.RELEASE-CHINESE_ANNOTATION/spring-core/build/
/spring-framework-5.0.2.RELEASE-CHINESE_ANNOTATION/spring-expression/build/
/spring-framework-5.0.2.RELEASE-CHINESE_ANNOTATION/spring-instrument/build/
/spring-framework-5.0.2.RELEASE-CHINESE_ANNOTATION/spring-jcl/build/
/spring-framework-5.0.2.RELEASE-CHINESE_ANNOTATION/spring-jdbc/build/
/spring-framework-5.0.2.RELEASE-CHINESE_ANNOTATION/spring-messaging/build/
/spring-framework-5.0.2.RELEASE-CHINESE_ANNOTATION/spring-orm/build/
/spring-framework-5.0.2.RELEASE-CHINESE_ANNOTATION/spring-oxm/build/
/spring-framework-5.0.2.RELEASE-CHINESE_ANNOTATION/spring-test/build/
/spring-framework-5.0.2.RELEASE-CHINESE_ANNOTATION/spring-tx/build/
/spring-framework-5.0.2.RELEASE-CHINESE_ANNOTATION/spring-web/build/
/spring-framework-5.0.2.RELEASE-CHINESE_ANNOTATION/spring-webflux/build/
/spring-framework-5.0.2.RELEASE-CHINESE_ANNOTATION/spring-webmvc/build/
/spring-framework-5.0.2.RELEASE-CHINESE_ANNOTATION/spring-websocket/build/